/*设置 在线老师 */
.online_teacher h4{
	color: #3B7454;
	margin-bottom: 0;
	margin-top: 0;
}
.online_teacher h4 img{
	height: 100%;
}
.online_teacher{
	margin-bottom: 2%;
}
.online_teacher h4 span{
	display: inline-block;
	margin-left: 60%;
}
.online_teacher h4 span a{
	text-decoration: none;
	color: #3B7454;
}
/*设置分割线*/
.div_line{
	width: 100%;
	/*margin-bottom: 5%;*/
}
/*设置在线教师列表*/
.teacher_tab{
	margin-bottom: 10%;
}
.teacher_tab .ui-grid-d div{
	text-align: center;
	padding: 0.5em;
}
.teacher_tab .ui-grid-d div img{
	height: 80%;
	width: 80%;
}
/*设置浏览量*/
.answer_area .ui-listview li a span{
	font-weight: 100;
	font-size: 0.7em;
}
.answer_area .ui-listview>li>a.ui-btn span:nth-child(2){
	float: right;
	background-color:#3B7454;
	font-size: 1.0em;
	font-weight: 400; 
	padding: 0.6em;
	color: white;
	vertical-align: bottom;
}