#syllabus {
	border-collapse:collapse;
                width:100%;
border:1px solid #98bf21;
}
#syllabus.caption {
    font-size:20px;
}

#syllabus td {
	padding:15px 10px 15px 10px;
	text-align:center;
	font-size:14px;
	/*height:150px;*/
}
#syllabus th.time {
	height:15%;
	padding:10px;
}
#syllabus th.teacher {
	width:50px;
	padding-left:25px;
	padding-right:25px;
}