.table>tbody>tr>td{
	text-align: center;
	vertical-align: middle;
}
th{
	text-align: center;
}
.table thead tr .ID{
	width: 5%;
}
.table thead tr .questionTitle{
	width: 20%;
}
.table thead tr .questionContent{
	width: 25%;

}
.table thead tr .userName{
width: 10%;
}
.table thead tr .questionTime{
width: 10%;
}
.table thead tr .answerNumber{
width: 7%;
}
.table thead tr .operate{
width: 23%;
}
.table tbody tr .line-clamp-3{
	border-collapse: collapse;
	overflow : hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	padding: 0;
	height: 60px;
	padding-top: 15px;
}
