.table>tbody>tr>td{
	text-align: center;
	vertical-align: middle;
}
th{
	text-align: center;
}
.table thead tr .ID{
	width: 5%;
}
.table thead tr .questionTitle{
	width: 20%;
}
.table thead tr .questionContent{
	width: 25%;

}
.table thead tr .userName{
width: 10%;
}
.table thead tr .questionTime{
width: 10%;
}
.table thead tr .answerNumber{
width: 7%;
}
.table thead tr .operate{
width: 23%;
}
.table tbody tr .line-clamp-3{
	border-collapse: collapse;
	overflow : hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	padding: 0;
	height: 60px;
	padding-top: 15px;
}
.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 16px solid orange;
	background-color: white;
	z-index:1002;
	overflow: auto;
}