<!doctype html>
<html>
<head>
    <title>
        登录
    </title>
</head>
<body>

<form action="http://localhost:8081/users/login" method="GET">
    手机号: <input type="text" name="phoneNumber" id="phoneNumber" value=""><br><br>
    密码: <input type="text" name="password" id="password" value=""><br><br>
    <input type="submit" value="登录">
    <!--<button type="button" onclick="showHint()">登录</button>-->
    <a href="http://localhost:8081/users/register.html">注册</a>
    <div id="hint"></div>
</form>
</body>
</html>