<!doctype html>
<html>
<head>
    <title>
        登录
    </title>
    <script>
        function showHint() {
            var utils = require("../../utils/utils");
            var xmlhttp = new XMLHttpRequest();

            var phoneNumber = document.getElementById("phoneNumber").value;
            var password = document.getElementById("password").value;
            xmlhttp.open("GET", utils.getServer()+"users/login?phoneNumber=" + phoneNumber + "&password=" + password, true);
            xmlhttp.send();
            xmlhttp.onreadystatechange = function () {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    document.getElementById("hint").innerHTML = xmlhttp.responseText;
                }
            }
        }

    </script>
</head>
<body>

<form action="http://123.207.150.222:8081/users/login" method="GET">
    手机号: <input type="text" name="phoneNumber" id="phoneNumber" value=""><br><br>
    密码: <input type="text" name="password" id="password" value=""><br><br>
    <input type="submit" value="登录">
    <!-- <button type="button" onclick="showHint()">登录</button> -->
    <a href="http://localhost:8081/users/register.html">注册</a>
    <div id="hint"></div>
</form>
</body>
</html>