*{
    padding: 0;
    margin: 0;
}
/*分割线*/
.courseLine{
    width:100%;
}
/*“提问”“详情” 文字*/
.question{
    display: inline-block;
}
/*输入框样式*/
.ui-input-text {
    border: none !important;
    box-shadow: none!important;
    line-height: 30px!important;
    font-size: 16px !important;
    /*margin-top: 8% !important;*/
}
/*详情输入框高度*/
textarea{
     clear: both;
    height:80px!important;
 }
.textarea{
    background: white;
    height:160px!important;
}
.add_image{
    margin-top:15px;
    display:inline-block;
    width:20px;
    height:20px;
}
.add_image_div{
    opacity: 0;
    float: left;
    width:20px;
    height:20px;
}
.add_image input{
    height:10px;
    width:10px;
}
textarea.ui-input-text.ui-textinput-autogrow{
    background-color: white;!important;
}
/*"发布问题"位置*/
.publish{
    height: auto;
    float: left;
    margin-left:40%;
}
/*"发布问题"按钮样式*/
.ui-btn{
    background-color:#347557!important;
    color: #fff!important;
    border-color: #fff;
    text-shadow: none;
}
/*"发布问题"字体阴影*/
.ui-page-theme-a .ui-btn{
    text-shadow: none;!important;
}
.ui-btn, label.ui-btn{
    font-weight:100;
}
.content_img{
    height:10px;
}
.iframe_textarea{
    border-style: none;
    width:100%;
    background-color:white;
    height:50%
}