/*每一行 分割线*/
.hr{
    display:inline-block;
    margin-top: 2.8%;
    float: left;
    margin-left: 3%;
}
/*每一行 边距清除*/
.ui-listview>.ui-li-static{
    padding:1% 0px;
}
/*每一行 名称*/
.ui-listview li .className-text{
    display: inline-block;
    padding-top: 1%;
    padding-left: 3%;
    font-weight:bold;
}
/*每一行 内容*/
.ui-listview li .className-details{
    display: inline-block;
    width:60%; /*最右侧>*/
    padding-top: 2%;
    position: absolute;
    left: 35%;
    font-weight:normal;
}
/*每一行 编辑框*/
.ui-input-text {
    display:table-cell;
    vertical-align: middle;
    outline:none!important;
    position: absolute;
    top:1%;
    bottom:3%;
    left:30%;
    border: none !important;
    box-shadow: none!important;
    font-size: 16px !important;
}

/*课程内容 两侧边距*/
.ui-listview>li .content{
    white-space: normal;
    text-indent:2em;
    margin-left: 3%;
    margin-right: 3%;
}

/*可点击区域 调整边距*/
.line_click{
    padding:0px;
}

.ui-listview>.ui-li-static{
    padding:0px;
}