.specialHr{
    display:inline-block;
    margin-top: 6%;
    float: left;
    margin-left: 3%;
}
.ui-listview li .specialType{
    display: inline-block;
    position:absolute;
    top:12%;
    padding-top: 2%;
    padding-left: 3%;
    font-weight:bold;
}
.specialDetail{
    display: inline-block !important;
    /*position: absolute;*/
    /*left: 40%;*/
    font-weight: normal;
    padding-left:31%
}
.ui-header .right_icon{
    margin-top:4%;
    height:22px;
    width:22px;
}