.specialDetail{
     display: inline-block !important;
     position: absolute;
     top:1%;
     left: 38%;
     font-weight: normal;
     float: right;
 }
.hr{
    float: left;
    margin-top: 3%;
}
.ui-listview li  .className-text{
    position: absolute;
    display: inline-block;
    margin-top: 2.5%;
    padding-left: 5%;
    z-index: 5;
}
div.ui-input-text {
    position:absolute;
    left:37%;
    top:8%;
    width: 250px !important;
    height: 30px !important;
    outline:none!important;
    float: right !important;
    z-index: 1;
}
.ui-input-text {
    border: none !important;
    box-shadow: none!important;
    line-height: 30px!important;
    font-size: 16px !important;
}
.input{
    font-size: 18px;
}
.right_icon{
    float: right;
}