/*设置 在线老师 */
.online_teacher h4{
	color: #3B7454;
	margin-bottom: 0;
	margin-top: 0;
	position: relative;
}
.online_teacher h4 img{
	height: 100%;
}
.online_teacher{
	margin-bottom: 2%;
}
.online_teacher h4 span{
	position: absolute;;
	right: 5%;
	top: 0%;
}
.online_teacher h4 span a{
	text-decoration: none;
	color: #3B7454;
}
/*设置分割线*/
.div_line{
	width: 100%;
	z-index: 2;
	/*margin-bottom: 5%;*/
}
/*设置在线教师列表*/
.teacher_tab{
	margin-bottom: 3%;
}
.teacher_tab .ui-grid-d div{
	text-align: center;
	padding: 0.5em;
}
.teacher_tab .ui-grid-d div img{
	height: 80%;
	width: 80%;
}
/*设置老师姓名*/
.teacher_tab .ui-grid-d div p{
	margin-bottom: 1%;
	margin-top: 1%;
	font-size: 0.7em;
	color: #3B7454;
}
/*设置 来自老师回答*/
.answer_area{
	margin-top:1em;
}
.answer_area .ui-listview li a span.ans_teacher{
	font-weight: 100;
	font-size: 0.7em;
}

.question_content{
}

/*设置赞同数*/
.answer_area .ui-listview>li>a.ui-btn .zan{
	display: inline-block;
	float: right;
	text-align: center;
	background-color:#3B7454;
	padding-left: 0.7em;
	padding-right: 0.7em;
	padding-bottom: 0.2em;
	padding-top: 0.2em;
}
.answer_area .ui-listview>li>a.ui-btn .zan p{
	font-weight: 400; 
	color: white;
	text-shadow: none;
	font-size: 1.0em;
	margin-bottom: 1%;
	margin-top: 5%; 
}
.answer_area .ui-listview>li>a.ui-btn div.zan span{
	display: block;
	font-size: 0.5em;
	font-weight: 100; 
	color: white;
	text-shadow: none;
}
.answer_detail{
	white-space: normal;
}
.ask_question{
	width:50px;
	height:50px;
	position:fixed;
	bottom:80px;
	right:20px;
}
.answer_content{
	margin-top:100px;
}
