/*添加绿色主题，应用于所有页面顶部*/
.ui-bar-g{
	color: white;
	background-color: #3B7454;
	font-size: 1.2em;
	letter-spacing: 5px;
	text-shadow: none;
}
/*添加底部导航栏主题，应用于所有页面底部导航*/
/*.ui-bar-t{*/
	/*color: #3B7454;*/
	/*!*background-color: transparent;*!*/
/*}*/
/*设置头部导航的上边框*/
.ui-header{
	border-bottom-width: 0;
	border-top-width: 0;
	box-sizing: border-box;
}
/*设置底部导航的上边框*/
.ui-footer{
	box-sizing: border-box;
	border-bottom:none;
}
/*设置底部导航栏按钮的边框*/
.ui-navbar li .ui-btn{
	border-left-width: 0;
}
/*设置底部导航栏按钮被激活时的样式*/
.ui-page-theme-a .ui-btn.ui-btn-active{
	background-color: white;
	color: #3B7454;
	text-shadow: none;
	border-color: transparent;
}
/*底部导航下面透明 处理	*/
.ui-footer-fixed{
	bottom:-3px;
	padding:0px;
}
/*设置各个功能模块的顶部和底部边框宽度*/
.ui-listview>li.ui-li-has-icon>a.ui-btn{
	border-bottom-width: 0;
	box-sizing: border-box;
	border-top-width: 0;    
}
/*设置底部导航栏边框透明*/
/*.ui-link{*/
	/*padding-bottom: 0;*/
	/*border-color: transparent;*/
/*}*/
/*设置底部导航栏文字位置*/
.ui-link p{
	margin-bottom: 0; 
	margin-top: 0;
}
/*设置底部导航栏图片大小*/
.ui-link img{
	width: 30%;
	height: 30%;
}

/*.ui-navbar {*/
	/*max-width:none;*/
/*}*/

/*.ui-footer-fixed{*/
	/*padding-bottom: 0;*/
/*}*/

/*.ui-header-fixed, .ui-footer-fixed{*/
	/*width:inherit;*/
/*}*/

/*顶部标题栏标题*/
.ui-header h3{
	display: inline-block;
	margin:0;
	margin-left:14%
}

/*顶部左侧图标*/
.ui-header .left_icon{
	width:30px;
	height:30px;
	float:left;
	margin-left:3%;
	margin-top:3%
}

/*顶部右侧图标*/
.ui-header .right_icon{
	width:30px;
	height:30px;
	float: right;
	margin-right:3%;
	margin-top:3%
}
/*.ui-header .page_title{*/
	/*display: inline-block;*/
	/*margin:0;*/
	/*margin-left:22%;*/
/*}*/

/*设置列表中头像*/
.head_big{
	width:48px;
	height:48px;
	border-radius:48px;
	position: absolute;
	top: 22.5px;
	left:22.8px
}
/*设置详情页头像*/
.head_60{
	width:36px;
	height:36px;
	border-radius:36px !important;
}
/*a标签的颜色*/
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited{
	background-color: #f9f9f9;
}
/*a标签的颜色*/
.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a{
	background-color: #f9f9f9;
}

/*登录注册的按钮*/
.btn{
	background: #3B7454 !important;
	color:white !important;
	text-shadow: none !important;
}