.ui-listview>li.ui-first-child img:first-child:not(.ui-li-icon){
    border-top-left-radius:48px;
}
.ui-listview>.ui-li-has-thumb>.ui-btn, .ui-listview>.ui-li-static.ui-li-has-thumb{
    padding-top:4%;
    min-height:40px;
}
.ui-listview >li img{
    margin-left:3%;
    margin-top:2.5%;
}