<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加课程</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/video.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<iframe src="/users/navigation" style="width:100vw;height:60px;z-index: 100" frameborder="0" scrolling="no"></iframe>
<div class="main">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">添加课程</h3>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="name">名称</label>
                            <div class="col-md-6" id="name">
                                <input type="text" id="courseName" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="teacherid">教师编号</label>
                            <div class="col-md-6" id="name">
                                <input type="number" id="teacherId" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="teacherid">教师姓名</label>
                            <div class="col-md-6" id="name">
                                <input type="text" id="teacherName" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="time">日期</label>
                            <div class="col-md-6" id="name">
                                <input type="time" id="courseDate" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="time">开始时间</label>
                            <div class="col-md-6" id="name">
                                <input type="time" id="beginTime" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="time">结束时间</label>
                            <div class="col-md-6" id="name">
                                <input type="time" id="finishTime" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="name">时长</label>
                            <div class="col-md-6" id="name">
                                <input type="text" id="courseTime" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="name">面向对象</label>
                            <div class="col-md-6" id="name">
                                <input type="text" id="objectOriented" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="content">课程内容</label>
                            <div class="col-md-6" id="name">
                                <textarea id="courseContent" rows="3" name="content" class="form-control"></textarea>
                            </div>
                        </div>
                        <center>
                            <button class="btn btn-default " onclick="addCourse()">确定</button>

                        </center>
                    </div>
                    <p style="margin:0;text-align:center;padding-top:50px;" id="hint"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function addCourse() {
        var courseName = $("#courseName").val();
        var teacherName = $("#teacherName").val();
        var courseDate = $("#courseDate").val();
        var beginTime = $("#beginTime").val();
        var finishTime = $("#finishTime").val();
        var courseTime = $("#courseTime").val();
        var objectOriented = $("#objectOriented").val();
        var courseContent = $("#courseContent").val();
        var data = {
            courseName: courseName,
            teacherName: teacherName,
            courseDate: courseDate,
            beginTime: beginTime,
            finishTime: finishTime,
            courseTime: courseTime,
            objectOriented: objectOriented,
            courseContent: courseContent
        }
        console.log("data:" + JSON.stringify(data));
        if (courseName.length == 0) {
            $("#hint").text("课程名不能为空");
        }
        else if (teacherName.length == 0) {
            $("#hint").text("老师姓名不能为空");
        }
        else if (courseDate.length == 0) {
            $("#hint").text("日期不能为空");
        }
        else if (beginTime.length == 0) {
            $("#hint").text("开始时间不能为空");
        }
        else if (finishTime.length == 0) {
            $("#hint").text("结束时间不能为空");
        }
        else if (courseTime.length == 0) {
            $("#hint").text("课程时长不能为空");
        }
        else if (objectOriented.length == 0) {
            $("#hint").text("面向对象不能为空");
        }
        else if (courseContent.length == 0) {
            $("#hint").text("课程内容不能为空");
        }
        else {
            $.post("addCourse", data, function (data) {
                if (data.status) {
                    $("#hint").text(data.desc);
                    window.open("course");
                }
                else {
                    $("#hint").text(data.desc);
                }
            })
        }
    }
    </script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/javascripts/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/bootstrap.min.js"></script>
</div>
</body>
</html>