<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加视频</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/video.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<iframe src="/users/navigation" style="width:100vw;height:145px;z-index: 100" frameborder="0" scrolling="no"></iframe>
<div class="main">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">添加视频</h3>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div  class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="name">名称</label>
                            <div class="col-md-6" id="name">
                                <input type="text" name="name" value="" class="form-control">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-2 control-label" for="name">教师编号</label>
                            <div class="col-md-6" id="name">
                                <input type="text" name="name" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="time">时长</label>
                            <div class="col-md-6" id="name">
                                <input type="time" name="time" value="" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="introduce">简介</label>
                            <div class="col-md-6" id="name">
                                <textarea id="introduce" rows="3" name="introduce" class="form-control"></textarea>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-2 control-label" for="video">视频上传</label>
                            <div class="col-md-6" id="name">
                                <input type="file" id="file" value="" class="form-control">
                            </div>
                            <!--<button class="btn btn-default" onclick="uploadVideo()">上传</button>-->
                        </div>
                        <center>
                            <a class="btn btn-default " href="videoDetails.html" >确定</a>

                        </center>
                        <p id="head"></p>
                        <p id="age"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/javascripts/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/sdk/qcloud_sdk.js"></script>
<script src="/javascripts/sdk/swfobject.js"></script>
<script>
        console.log("12")
        var cos = new CosCloud("10068625","/");
        var successCallBack = function (result) {
            console.log("success")
            console.log("result:"+JSON.stringify(result))
            console.log("type"+typeof result)
            console.log("上传视频"+JSON.parse(result).data.access_url)
            $("#head").val(JSON.parse(result).data.access_url)
        }
        var errorCallBack = function (result) {
            $("#age").val("error:"+result);
            console.log("error")
            console.log("result:"+JSON.stringify(result))
        }
        var inputElements = document.getElementById("file");
        inputElements.addEventListener("change",handleFiles,false);
        function handleFiles(){
            console.log("123")
            var fileList = this.files;
            if(fileList.length>0){
                selectedFile = fileList[0];
                var name = selectedFile.name;
                var postfix = name.substr(name.lastIndexOf("."))
                console.log("postfix:/head/"+userId+postfix)

                cos.uploadFile(successCallBack,errorCallBack,"smxbucket","/"+selectedFile.name,selectedFile,0)
            }
            console.log("1234")
        }
    function editInfo(){
        var head = $("#head").val();
        var name = $("#name").val()
        var gender = $('input:radio[name="radio-view"]:checked').val();
        var age = $("#age").val();
        var school = $("#school").val();
        var grade = $("#grade").val();
        var address = $("#address").val();
        if(name.length == 0){
            $("#hint").text("姓名不能为空")
        }else{
            var data = {
                head:head,
                name:name,
                gender:gender,
                age:age,
                school:school,
                grade:grade,
                address:address
            }
            $.post("./editInfo",data,function (data,textStatus,jqXHR) {
                if(data.status){

                        $("#hint").text(data.desc)

                }else{
                    console.log(data.desc)
                }
            },"json")
        }
//        console.log("head:"+head+"  name:"+name+"  gender:"+gender+" age:"+age+" school:"+school+" grade:"+grade+" address:"+address);

    }
</script>
</body>

</html>