<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>修改密码</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/video.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<iframe src="/users/navigation" style="width:100vw;height:145px;z-index: 100" frameborder="0" scrolling="no"></iframe>
<div class="main" style="margin-top: 100px;">
    <div class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-md-2 control-label" for="teacherid">原密码</label>
            <div class="col-md-3" id="name">
                <input type="text" id="oldPassword" value="" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="teacherid">新密码</label>
            <div class="col-md-3" id="name">
                <input type="password" id="password" value="" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="teacherid">确认密码</label>
            <div class="col-md-3" id="name">
                <input type="password" id="passwordAgain" value="" class="form-control">
            </div>
        </div>
        <div style="margin: 50px 400px">
            <button class="btn btn-default" onclick="editPassword()">提交</button>
        </div>
        <p id="hint"></p>
    </div>
    </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="/javascripts/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="/javascripts/bootstrap.min.js"></script>
<script>
    function editPassword() {
        console.log(1);
        var oldPassword=$('#oldPassword').val();
        var password=$('#password').val();
        var passwordAgain=$("#passwordAgain").val();
        if(oldPassword.length==0){$("#hint").text("旧密码不能为空！")}
        else if(password.lengh==0){$("#hint").text("请输入密码！")}
        else if(passwordAgain.length==0){$("#hint").text("请确认密码")}
        else if(password!=passwordAgain){
            $("#hint").text("两次输入密码不一致！");
        }
        else{
            var data={
                oldPassword:oldPassword,
                password:password
            }
            $.post('editPassword',data,function (data) {
                if(data.status){
                    $("#hint").text("修改成功！");
                }
                else{
                    $("#hint").text(data.status);
                }
            },"json")
        }
    }
</script>
</body>
</html>