<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注销</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/video.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<iframe src="/users/navigation" style="width:100vw;height:145px;z-index: 100" frameborder="0" scrolling="no"></iframe>
<div class="main">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">注销</h3>
            </div>
            <div class="panel-body">
                <div class="container">
                    <div action="#" method="post" class="form-horizontal" role="form">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th>账号名</th>
                                    <th>状态</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><%=userId%></td>
                                    <td>已登录</td>
                                </tr>
                                </tbody>
                            </table>
                            <center>
                                <div class="btn btn-default " onclick="logout()">注销</div>
                            </center>
                            <div style="float: right; margin-right: 100px;">
                                <a class="btn btn-default " href="editPassword">修改密码</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
    function logout() {
        window.location.replace("logout");
    }
</script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/javascripts/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>