<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>课程详情</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/video.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%include navigation.ejs%>
<div class="main">
    <div class="container">
        <div class="bs-example">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h3 class="panel-title" style="display:inline-block">自习详情</h3>
                </div>
                <div style="padding-left:30px;padding-bottom:30px">
                    <h2 style="display: inline-block;"><%=date%></h2>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title" style="display:inline-block">学生列表</h3>
                    <a href="#" ><h3 class="panel-title" style="float:right">添加</h3></a>
                </div>

                <!-- Table -->
                <div class="table-responsive" style="padding-right:17px">
                    <table class="table table-hover" >
                        <thead>
                        <tr>
                            <!--<th>编号</th>-->
                            <th>姓名</th>
                            <th>消费</th>
                            <th>操作</th>
                            <!--<th>出勤</th>
                            <th>原因</th>
                            <th>学费</th>-->
                            <!--<th>学生评价</th>
                            <th>学生意见</th>
                            <th>老师评价</th>
                            <th>老师评语</th>-->
                        </tr>
                        </thead>
                    </table>
                </div>
                <div  class="table-responsive"style="max-height: 40vh;overflow:scroll; overflow-x:hidden;">
                    <table  class="table table-hover" style="table-layout: fixed">
                        <tbody>
                        <% student.forEach(function (item) {%>
                        <tr onclick="details('<%=item.userId%>')">
                            <td><%=item.userName%></td>
                            <td><%=item.cost%></td>
                            <!--<td> </td>
                            <td> </td>
                            <td> </td>
                            <td> </td>-->
                            <td>
                                <div class="btn btn-danger omit" onclick="">删除</div>
                            </td>
                        </tr>
                        <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<script src="/javascripts/jquery.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>

<script>
    function details(userId) {
        console.log("userId:"+userId)
        location.href="/users/studentDetails?studentId="+userId;
    }
</script>
</body>
</html>
