<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../public/stylesheets/table.css" />
	<title>课程表</title>
</head>
<body>
	<table id="syllabus">
	<caption>课程表</caption>
	<tr>
	<th>1月3日版</th>
	<th class="time">7:00-8:30</th>
	<th class="time">8:40-10:10</th>
	<th class="time">10:20-11:50</th>
	<th class="time">13:30-15:00</th>
	<th class="time">15:10-16:40</th>
	<th class="time">16:50-18:20</th>
	</tr>
	<tr>
	<th class="teacher">齐书强</th>
	<td> 5 <br/> （高三 数学） <br/> 时广毅 </td>
	<td> 5 <br/> （高三 数学） <br/> 李岑岑 </td>
	<td> 5 <br/> （高三 数学） <br/> 王婉月，贾楠 </td>
	<td> 4 <br/> （高二 数学） <br/> 李程，常诗涵，王欣淼，张佳伟，乔文韬</td>
	<td> 4 <br/> （高三 数学） <br/> 丁佳兴，高城博 </td>
	<td> 4 <br/> （高三 数学） <br/> 刘跃，王赛，张秋雨</td>
	</tr>
	<tr>
	<th class="teacher">张可爽</th>
	<td> 2 <br/> （高一 生物）<br/> 王蓓，于佳慧，于思淼，王宇航 </td>
	<td> 2 <br/> （高三 生物）<br/> 徐朝涵，徐晨涵，宋莹莹</td>
	<td> 2 <br/> （高三 生物）<br/> 白娇，韩莹，张秋雨</td>
	<td> 2 <br/> （高三 生物）<br/> 时广毅，方静，盖美含，李思源，付一洋 </td>
	<td> 2 <br/> （高三 生物）<br/> 徐逸北 </td>
	<td> 2 <br/> （高三 生物）<br/> 姜欣雨，王璐瑶，金兆克，张俏，刘一迪，刁梦琦，张建楠。常馨月 </td>
	</tr>
	<tr>
	<th class="teacher">李金泰</th>
	<td> 4 <br/> （高三 数学）<br/> 刘一迪，杨宇航（年后），冯程程，王小南</td>
	<td> 4 <br/> （高三 数学）<br/> 纪聪蕊，张建楠，姜博文 </td>
	<td> 4 <br/> （高三 数学）<br/> 王宇航，张博，赵碧晗，于佳慧，张涛 </td>
	<td> 4 <br/> （高三 数学）<br/> 杨鹏宇 </td>
	<td> </td>
	<td> 4 <br/> （高二 数学）<br/> 张夕雅 </td>
	</tr>
	<tr>
	<th class="teacher">韩军</th>
	<td> 1 <br/> （高二 文数）<br/> 姜佳俊 </td>
	<td> 1 <br/> （高三 文数）<br/> 贾佳文 </td>
	<td> 1 <br/> （高二 地理）<br/> 姜佳俊 </td>
	<td> 1 <br/> （高三 文数）<br/> 王娇，王阳阳，郑会子 </td>
	<td> 1 <br/> （高三 文数）<br/> 吴佳彤 </td>
	<td> 1 <br/> （高三 英语） <br/> 孙天书，常诗涵，高城博，张涛（待定：李美晗，王阳阳）</td>
	</tr>
	<tr>
	<th class="teacher">李丹丹</th>
	<td> </td>
	<td> 6 <br/> （高三 化学） <br/> 韩莹，李思源，耿媛媛</td>
	<td> 6 <br/> （高三 化学） <br/> 盖美含</td>
	<td> </td>
	<td> 6 <br/> （高三 化学） <br/> 杨鹏宇</td>
	<td> 17:05-18:36 <br/> 6 <br/> （高一 化学）<br/> 相上，杨晶晶，常思佳</td>
	</tr>
	</table>
</body>
</html>