<!DOCTYPE html>
<html>
<head>
    <title>尚名校</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/askQuestion.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page" data-title="尚名校">
    <div data-role="header" data-theme="g" data-position="fixed">
        <img src="/images/ic_arrow_back.png" onclick="window.history.back()" class="left_icon"/>
        <h3 class="page_title">回答问题</h3>
        <!--<img src="/images/ic_share.png" href="#" class="right_icon"/>-->
    </div>
    <div data-role="content">
        <div>
            <img src="/images/tab_course.png" class="add_image" onclick="uploadImage()">
            <div class="add_image_div">
                <input type="file" id="file" accept="image/"/>
            </div>
        </div>
        <iframe id = "iframe" src="/squire/document.html" onload = "iframe_load()"class="iframe_textarea" ></iframe>
        <!--<div id="questionContent" contentEditable="true" class="textarea">-->
        <!--</div>-->
    </div>
    <p class="hint" id="hint"></p>
    <div class="publish">
        <button type="submit" value="Submit Button" onclick="answerQuestion()" class="publishButton" >发布答案</button>
    </div>
</div>
<script src="http://apps.bdimg.com/libs/jquery.cookie/1.4.1/jquery.cookie.js"></script>
<script src="/javascripts/sdk/qcloud_sdk.js"></script>
<script src="/javascripts/sdk/swfobject.js"></script>
<script src="/squire/squire.js"></script>
<script src="/javascripts/uploadQuestionImg.js"></script>
<script>
    function answerQuestion() {
        var answerContent = editor.getHTML();
        var answerAbstract = answerContent;
        while(answerAbstract.indexOf("<img") >0){
            var start = answerAbstract.indexOf("<img");
            var end = answerAbstract.indexOf(">",start)-start+1;
            answerAbstract = answerAbstract.replace(answerAbstract.substr(start,end),"[图片]");
        }
        answerAbstract = answerAbstract.replace(/<div style="font-size:14px;font-weight:normal">/g,"")
        answerAbstract = answerAbstract.replace(/<div>/g,"")
        answerAbstract = answerAbstract.replace(/<\/div>/g,"")
        answerAbstract = answerAbstract.replace(/<br>/g,"")
        answerAbstract = answerAbstract.substr(0,answerAbstract.length-3);
        answerContent = answerContent.substr(0,answerContent.length-3);
        console.log("Content:"+answerContent)
        console.log("Abstract:"+answerAbstract)
        console.log("Abstract:"+answerAbstract.length);
        if(answerContent.length == 0){
            $("#hint").text("答案内容不能为空");
        }else{
            var data = {
                questionId:"<%=questionId%>",
                answerContent:answerContent,
                answerAbstract:answerAbstract
            }
            console.log("data:"+JSON.stringify(data));
            $.post("answerQuestion",data,function (data) {
                if(data.status){
                    $("#hint").text(data.desc)
                    $.cookie("questionDetail",true);
                    window.history.back();
                }else{
                    console.log(data.desc)
                }
            },"json")
        }
    }
</script>
</body>
</html>