<!DOCTYPE html>
<html>
<head>
    <title>尚名校</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/question.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
</head>
<body>
<div data-role="page">
    <div data-role="header" data-theme="g" data-position="fixed">
        <h3>回答详情</h3>
    </div>
    <div data-role="answer_area">
        <ul data-role="listview">
            <li data-icon="false">
                <a herf="#" data-ajax="false">
                    <h5><%= questionTitle %></h5>
                </a>
            </li>
            <li>
                <div>
                    <img style="vertical-align:middle;" width="32" height="32" src="<%= authorHeadUrl %>"/> <%= authorName %>
                </div>
                <p style="white-space: normal" class="answer_content"><%= answerContent %></p>
            </li>
        </ul>
    </div>
</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
</body>
</html>