<!DOCTYPE html>
<html>
<head>
	<title>尚名校</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="cache-control" content="no-cache"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/myQuestion.css">
</head>
<body>
<div data-role="page">
	<div data-role="header" data-theme="g" data-position="fixed">
		<h3>我的提问</h3>
	</div>
	<div data-role="content">
		<div class="myquestion">
			<img src="/images/myclass.png">
			<h4 class="question">问题</h4>
			<img src="/images/课程分割线.png" class="courseLine">
			<textarea type="text" placeholder="请写下你的问题（必填）"></textarea>
		</div>
		<div class="myquestion">
			<img src="/images/myclass.png">
			<h4 class="question">详情</h4>
			<img src="/images/课程分割线.png" class="courseLine1">
			<textarea type="text" placeholder="请填写问题相关描述信息" class="textarea"></textarea>
		</div>
	</div>
	<div class="publish">
		<button type="submit" value="Submit Button" class="publishButton">发布提问</button>
	</div>
</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
</body>
</html>