<!DOCTYPE html>
<html>
<head>
    <title>尚名校</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/common_line.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page" data-title="尚名校">
    <div data-role="header" data-theme="g" data-position="fixed">
        <img src="http://smxbucket-10068625.cos.myqcloud.com/resource/ic_arrow_back.png" onclick="window.history.back()" class="left_icon"/>
        <h3 class="page_title">修改密码</h3>
        <!--<img src="/images/icon_save.png" onclick="changePassword()" class="right_icon"/>-->
    </div>
    <div>
        <form method="" action="">
            <ul data-role="listview">
                <li data-icon="false">
                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5 class="className-text">旧密码</h5>
                    <input id="oldPassword" type="password" name="" placeholder="请填写旧密码">
                </li>
                <li data-icon="false">
                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5 class="className-text">新密码</h5>
                    <input id="password" type="password" name="" placeholder="请填写新密码">
                </li>
                <li data-icon="false">
                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5 class="className-text">确认密码</h5>
                    <input id="passwordAgain" type="password" name="" placeholder="请再次填写新密码">
                </li>
            </ul>
        </form>
        <button class="btn" onclick="changePassword()">修改密码</button>
        <p id="hint"></p>
    </div>
</div>
</body>
<script>
    function changePassword() {
        var oldPassword = $("#oldPassword").val();
        var password = $("#password").val();
        var passwordAgain = $("#passwordAgain").val();
        if(oldPassword.length == 0){
            $("#hint").text("旧密码不能为空");
        }if(password.length == 0){
            $("#hint").text("新密码不能为空");
        }else if(password !=passwordAgain){
            $("#hint").text("新密码不一致");
        }else{
            var data = {
                oldPassword:oldPassword,
                newPassword:password
            }
            $.post("./changePassword",data,function (data) {
                $("#hint").text(data.desc)
                if(data.status){
                    window.history.back();
                }
            },"json")
        }
    }
</script>
</html>
