<!DOCTYPE html>
<html>
<head>
    <title>尚名校</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/createClass.css">
</head>
<body>
<div data-role="page" data-title="尚名校">
    <div data-role="header" data-theme="g" data-position="fixed">
        <img src="/images/ic_arrow_back.png" onclick="goBack()" class="left_icon"/>
        <h3 class="page_title">修改密码</h3>
        <img src="/images/icon_save.png" onclick="changePassword()" class="right_icon"/>
    </div>
    <div>
        <form method="" action="">
            <ul data-role="listview">
                <li data-icon="false">
                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5 class="className-text">旧密码</h5>
                    <input id="oldPassword" type="password" name="" placeholder="请填写旧密码">
                </li>
                <li data-icon="false">
                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5 class="className-text">新密码</h5>
                    <input id="password" type="password" name="" placeholder="请填写新密码">
                </li>
                <li data-icon="false">
                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5 class="className-text">确认密码</h5>
                    <input id="passwordAgain" type="password" name="" placeholder="请再次填写新密码">
                </li>
            </ul>
        </form>
        <p id="hint"></p>
    </div>
</div>
</body>
<script type="text/javascript">
</script>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
<script src="/javascripts/slick.min.js"></script>
<script src="/javascripts/smx.js"></script>
<script>
    var xmlhttp;
    if (window.XMLHttpRequest){// code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp=new XMLHttpRequest();
    }else{// code for IE6, IE5
        xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
    }

    function changePassword() {
        var oldPassword = document.getElementById("oldPassword").value;
        var password = document.getElementById("password").value;
        var passwordAgain = document.getElementById("passwordAgain").value;
        if(oldPassword.length == 0){
            document.getElementById("hint").innerHTML = "旧密码不能为空";
        }if(password.length == 0){
            document.getElementById("hint").innerHTML = "新密码不能为空";
        }else if(password !=passwordAgain){//发送登录请求;
            document.getElementById("hint").innerHTML = "新密码不一致";
        }else{
            xmlhttp.open("GET", "/users/changePassword?oldPassword=" + oldPassword + "&newPassword=" + password, true);
            xmlhttp.send();
        }
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                var str = xmlhttp.responseText;//得到服务器响应
                document.getElementById("hint").innerHTML=str;
                if(str == "修改成功"){
                    window.location.href="/users/loginPage";
                }
            }
        }
    }
</script>
</div>
</body>
</html>
