<!DOCTYPE html>
<html>
<head>
	<title>class</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="cache-control" content="no-cache" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/slick.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/slick-theme.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/class.css">
</head>
<body>
	<div data-role="page">
		<div data-role="header" data-theme="g" data-position="fixed">
			<h3>课程</h3>
		</div>
		<div class="ad_Images">
			<div class="ad_Image_style">
				<img src="/images/轮播图.png">
			</div>
			<div class="ad_Image_style">
				<img src="/images/轮播图2.png">
			</div>
			<div class="ad_Image_style">
				<img src="/images/轮播图3.png">
			</div>
		</div>
		<div data-role="content">
			<div class="myclass">
				<h4><img src="/images/myclass.png">&nbsp我的课程</h4>
				<img src="/images/课程分割线.png" class="div_line">
				<div class="details_class">
					<ul data-role="listview">
						<li data-icon="false">
							<a href="#">
								<img src="/images/头像.png">
								<div class="class_info">
									<div class="class_info_school">
										<h5>张三</h5>
										<h6>大连理工大学|本科生</h6>
									</div>
									<div class="class_info_name">
										<h3>#高三  数学#</h3>
									</div>
									<div class="class_info_time">
										
										<h6><img src="/images/课程时间.png">周六早上 | 9:00-12:00</h6>
									</div>
								</div>
							</a>
						</li>
						<li data-icon="false">
							<a href="#">
								<img src="/images/头像.png">
								<div class="class_info">
									<div class="class_info_school">
										<h5>张三</h5>
										<h6>大连理工大学|本科生</h6>
									</div>
									<div class="class_info_name">
										<h3>#高三  数学#</h3>
									</div>
									<div class="class_info_time">
										
										<h6><img src="/images/课程时间.png">周六早上|9:00-12:00</h6>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="hotclass">
				<h4><img src="/images/hotclass.png">&nbsp热门课程<span><a href="#">更多></a></span></h4>
				<img src="/images/热门课程分割线.png" class="div_line">
				<div class="details_class">
					<ul data-role="listview">
						<li data-icon="false">
							<a href="#">
								<img src="/images/热门课程头像.png">
								<div class="class_info">
									<div class="class_info_school">
										<h5>张三</h5>
										<h6>大连理工大学|本科生</h6>
									</div>
									<div class="class_info_name">
										<h3>#高三  数学#</h3>
									</div>
									<div class="class_info_time">
										
										<h6><img src="/images/课程时间.png">周六早上 | 9:00-12:00</h6>
									</div>
								</div>
								<!-- <div class="start_learn">
									<p>开始学习</p>
								</div> -->
							</a>
						</li>
						<li data-icon="false">
							<a href="#">
								<img src="/images/热门课程头像.png">
								<div class="class_info">
									<div class="class_info_school">
										<h5>张三</h5>
										<h6>大连理工大学|本科生</h6>
									</div>
									<div class="class_info_name">
										<h3>#高三  数学#</h3>
									</div>
									<div class="class_info_time">
										
										<h6><img src="/images/课程时间.png">周六早上|9:00-12:00</h6>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div data-role="footer" data-position="fixed" data-theme="t">
			<div data-role="navbar">
				<ul>
					<li><a href="/class" data-ajax="false"><img src="/images/01.png"><p>课程</p></a></li>
					<li><a href="/video" data-ajax="false"><img src="/images/02.png"><p>视频</p></a></li>
					<li><a href="/question" data-ajax="false"><img src="/images/03.png"><p>答疑</p></a></li>
					<li><a href="/person" data-ajax="false"><img src="/images/04.png"><p>我的</p></a></li>
				</ul>
			</div>
		</div>
	</div>
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
	<script src="/javascripts/slick.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$(".ad_Images").slick({
				autoplay:"true",
				autoplaySpeed:"4000"
			});
		});
	</script>
</body>
</html>