<!DOCTYPE html>
<html>
<head>
    <title>尚名校</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/common_line.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/personDetail.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
    <div data-role="page" data-title="尚名校">
        <div data-role="header" data-theme="g" data-position="fixed">
            <img src="/images/ic_arrow_back.png" onclick="window.history.back()" class="left_icon"/>
            <img onclick="createCourse()"class="right_icon"src="/images/编辑.png"/>
            <h3 class="page_title">新建课程</h3>
        </div>
        <div class="teacher-intro">
            <ul data-role="listview">
                <li data-icon="false">

                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5 class="className-text">课程名称</h5>
                    <input id = "courseName"type="text" name="" placeholder="请填写课程名称">

                </li>
                <li data-icon="false">

                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5 class="className-text">课程时间</h5>
                    <input id = "courseDate"type="date" name="" placeholder="请选择课程时间">

                </li>
                <li data-icon="false">

                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5 class="className-text">开始时间</h5>
                    <input id= "beginTime"type="time" name="" id="start" placeholder="请选择开始时间">

                </li>
                <li data-icon="false">

                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5 class="className-text">结束时间</h5>
                    <input id = "finishTime"type="time" name="" placeholder="请选择结束时间" id="end">

                </li>
                <li data-icon="false">

                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5 class="className-text">课程时长</h5>
                    <input id="courseTime"type="text" name="" placeholder="请选择课程时长">

                </li>
                <li data-icon="false">

                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5 class="className-text">面向对象</h5>
                    <input id = "objectOriented"type="text" name="" placeholder="请选择面向课程对象">

                </li>
                <li data-icon="false">

                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5 class="className-text">课程内容</h5>
                    <input id = "courseContent"type="text" name="" placeholder="请填写课程内容">

                </li>
            </ul>
            <p id="hint"></p>
        </div>
    </div>
</body>
<script>
    function createCourse () {
        var courseName = $("#courseName").val();
        var courseDate = $("#courseDate").val();
        var beginTime = $("#beginTime").val();
        var finishTime = $("#finishTime").val();
        var courseTime = $("#courseTime").val();
        var objectOriented = $("#objectOriented").val();
        var courseContent = $("#courseContent").val();
        console.log("beginTime:" + beginTime + " finishTime:" + finishTime)
        var data = {
            courseName: courseName,
            courseDate: courseDate,
            beginTime: beginTime,
            finishTime: finishTime,
            courseTime: courseTime,
            objectOriented: objectOriented,
            courseContent: courseContent
        }
        console.log("data:" + JSON.stringify(data))
        if (courseName.length == 0) {
            $("#hint").text("课程名不能为空");
        } else if (courseDate.length == 0) {
            $("#hint").text("课程日期不能为空");
        } else if (beginTime.length == 0) {
            $("#hint").text("开始时间不能为空");
        } else if (finishTime.length == 0) {
            $("#hint").text("结束时间不能为空");
        } else if (courseTime.length == 0) {
            $("#hint").text("课程时长不能为空");
        } else if (objectOriented.length == 0) {
            $("#hint").text("课程对象不能为空");
        } else if (courseContent.length == 0) {
            $("#hint").text("课程内容不能为空");
        } else {
            var data = {
                courseName: courseName,
                courseDate: courseDate,
                beginTime: beginTime,
                finishTime: finishTime,
                courseTime: courseTime,
                objectOriented: objectOriented,
                courseContent: courseContent
            }
            console.log("data:" + data)
            $.post("/course/createCourse", data, function (data) {
                if (data.status) {
                    $("#hint").text(data.desc)
                    window.history.back()
                } else {
                    console.log(data.desc)
                }
            }, "json")
        }
    }
</script>
</html>