<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <form action="/users/login" method="post">
            <label for="phoneNumber">phoneNumber</label>
            <input id="phoneNumber" value="" type="text" name="phoneNumber">
            <label for="password">password</label>
            <input id="password" value="" type="password" name="password">
            <input type="submit" value="submit">
        </form>
    </div>
</body>
</html>
