<!DOCTYPE html>
<html>
<head>
    <title>尚名校</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/common_line.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/login.css">
</head>
<body onload="closeHistory()">
<div data-role="page" data-title="尚名校">
    <div data-role="header" data-theme="g" data-position="fixed">
        <img src="/images/ic_arrow_back.png" onclick="window.history.back()" class="left_icon"/>
        <h3 class="page_title">登录</h3>
    </div>
    <div>
        <ul data-role="listview">
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">手机号</h5>
                <input id="phoneNumber" type="number" name="" placeholder="请填写手机号">
            </li>
            <li data-icon="false">
                <hr width="1" size="20" color="#3B7454" class="hr">
                <h5 class="className-text">密码</h5>
                <input id="password" type="password" name="" placeholder="请填写密码">
            </li>
        </ul>
        <button class="btn" onclick="login()">登&nbsp录</button>
        <p id="hint"></p>
        <a href="forgetPassword" data-ajax="false" class="click"><p class="button_forget">忘记密码</p></a>
        <a href="register" data-ajax="false" class="click"><p class="button_register">创建新账号</p></a>
    </div>
</div>
</body>
<script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script>
    /*登录*/
    function login() {
        var phoneNumber = $("#phoneNumber").val();
        var password = $("#password").val();
        if(phoneNumber.length == 0){
            $("#hint").html("手机号不能为空");
        }else if(!(/^1[34578]\d{9}$/.test(phoneNumber))){
            $("#hint").html("手机号格式不正确");
        }else if(password.length == 0){
            $("#hint").html("密码不能为空");
        }else{//发送登录请求
            var data={
                phoneNumber:phoneNumber,
                password:password
            }
            $.post("./login",data,function (data) {
                if(data.status){
                    if(data.name){
                        $("#hint").text(data.desc);
                        window.location.href = "/users/personDetailEdit?from=register";
                    }else{
                        if(!data.sourceUrl||data.sourceUrl == "/users/login"){
                            window.location.href = "/course/course";
                        }else{
                            if(window.history.length<3){
                                window.location.href = data.sourceUrl;
                            }else{
                                window.history.back();
                            }
                        }
                    }
                }else{
                    $("#hint").html(data.desc);
                }
            },"json")
        }
    }
    function closeHistory() {
        //TODO 重定向到登录页面时，关闭所有历史纪录 防止用户通过返回的方式跳回前页

//        console.log("length:"+window.history.length)
//        if(window.history.length>2){
//            window.history.go(-(window.history.length-2));
//        }
    }
</script>
</div>
</body>
</html>