<!DOCTYPE html>
<html>
<head>
    <title>class</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/createClass.css">
</head>
<body>
<div data-role="page" data-title="尚名校">
    <div data-role="header" data-theme="g" data-position="fixed">
        <img src="/images/ic_arrow_back.png" onclick="goBack()" class="left_icon"/>
        <h3 class="page_title">&nbsp登录</h3>
        <img src="/images/icon_save.png" onclick="login()" class="right_icon"/>
    </div>
    <div>
        <form method="" action="">
            <ul data-role="listview">
                <li data-icon="false">
                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5 class="className-text">手机号</h5>
                    <input id="phoneNumber" type="number" name="" placeholder="请填写手机号">
                </li>
                <li data-icon="false">
                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5 class="className-text">密码</h5>
                    <input id="password" type="password" name="" placeholder="请填写密码">
                </li>
            </ul>
        </form>
        <p id="hint"></p>
        <a href="forgetPasswordPage"><p style="display:block;float:right;margin-right: 5%">忘记密码</p></a>
        <a href="registerPage"><p style="margin-left:40%;margin-top: 10%">创建新账号</p></a>

    </div>
</div>
</body>
<script type="text/javascript">
</script>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
<script src="/javascripts/slick.min.js"></script>
<script src="/javascripts/smx.js"></script>
<script>
    var xmlhttp;
    if (window.XMLHttpRequest) {// code for IE7+, Firefox, Chrome, Opera, Safari
        xmlhttp = new XMLHttpRequest();
    }
    else {// code for IE6, IE5
        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
    }
    function login() {
        var phoneNumber = document.getElementById("phoneNumber").value;
        var password = document.getElementById("password").value;
        if(phoneNumber.length == 0){
            document.getElementById("hint").innerHTML = "手机号不能为空";
        }else if(!(/^1[34578]\d{9}$/.test(phoneNumber))){
            document.getElementById("hint").innerHTML = "手机号格式不正确";
        }else if(password.length == 0){
            document.getElementById("hint").innerHTML = "密码不能为空";
        }else{//发送登录请求
            xmlhttp.open("GET", "/users/login?phoneNumber=" + phoneNumber + "&password=" + password, true);
            xmlhttp.send();
        }
        xmlhttp.onreadystatechange = function () {
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                str = xmlhttp.responseText;//得到服务器响应
                document.getElementById("hint").innerHTML = str;//显示提示信息
                if(str == "登录成功"){
                    window.location.href = "/course/course";//跳转到主页
                }
            }
        }
    }
</script>
</div>
</body>
</html>
