<!DOCTYPE html>
<html>
<head>
    <title>尚名校</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/class.css">
</head>
<body>
<div data-role="page" data-title="尚名校">
    <div data-role="header" data-theme="g" data-position="fixed">
        <h3>尚名校</h3>
    </div>

    <iframe src="/course/course" name="iframe" frameborder="0" scrolling="no" id="test" onload="this.height=100"></iframe>

<div data-role="footer" data-position="fixed" data-theme="t">
        <div height=30px data-role="navbar">
            <ul>
                <li><a href="/course/course" target="iframe"><img src="/images/01.png">
                        <p>课程</p></a></li>
                <li><a href="/video/video" target="iframe"><img src="/images/02.png">
                        <p>视频</p></a></li>
                <li><a href="/question/question" target="iframe"><img src="/images/03.png">
                        <p>答疑</p></a></li>
                <li><a href="/users/mine" target="iframe"><img src="/images/04.png">
                        <p>我的</p></a></li>
            </ul>
        </div>
    </div>
</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
<script src="/javascripts/slick.min.js"></script>
<script type="text/javascript">
        function reinitIframe(){
            var iframe = document.getElementById("test");
            try{
                var bHeight = iframe.contentWindow.document.body.scrollHeight;
                var dHeight = iframe.contentWindow.document.documentElement.scrollHeight;
                var height = Math.max(bHeight, dHeight);
                var bWidth = iframe.contentWindow.document.body.scrollWidth;
                var dWidth = iframe.contentWindow.document.documentElement.scrollWidth;
                var width = Math.max(bWidth,dWidth);
                iframe.height = height;
                iframe.width = width;
                console.log("height:"+height+" width:"+width);
            }catch (ex){}
        }
        window.setInterval("reinitIframe()", 200);
</script>
</body>
</html>