<!DOCTYPE html>
<html>
<head>
	<title>mine</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="cache-control" content="no-cache" />
	<link rel="stylesheet" type="text/css" href="../public/css/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" type="text/css" href="../public/css/smxtheme.css">
	<link rel="stylesheet" type="text/css" href="../public/css/myCourse.css">
</head>
<body>
	<div data-role="page">
		<div data-role="header" data-theme="g" data-position="fixed">
			<h3>我的课程</h3>
		</div>
		<div class="details_class">
					<ul data-role="listview">
						<li data-icon="false">
							<a href="#">
								<img src="../public/images/头像.png">
								<div class="class_info">
									<div class="class_info_school">
										<h5>张三</h5>
										<h6>大连理工大学|本科生</h6>
									</div>
									<div class="class_info_name">
										<h3>#<span>高三  数学</span>#</h3>
									</div>
									<div class="class_info_time">
										
										<h6><img src="../public/images/课程时间.png">周六早上 | 9:00-12:00</h6>
									</div>
								</div>
							</a>
						</li>
						<li data-icon="false">
							<a href="#">
								<img src="../public/images/头像.png">
								<div class="class_info">
									<div class="class_info_school">
										<h5>张三</h5>
										<h6>大连理工大学|本科生</h6>
									</div>
									<div class="class_info_name">
										<h3>#<span>高三  数学</span>#</h3>
									</div>
									<div class="class_info_time">
										
										<h6><img src="../public/images/课程时间.png">周六早上|9:00-12:00</h6>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div>
	<script src="../public/js/jquery.js"></script>
	<script src="../public/js/jquery.mobile-1.4.5.min.js"></script>
</body>
</html>