<!DOCTYPE html>
<html>
<head>
    <title>尚名校</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/question.css">
</head>
<body>
<div data-role="page" data-title="尚名校">
    <div data-role="header" data-theme="g" data-position="fixed">
        <h3>我的提问</h3>
    </div>
    <div data-role="content">
        <div class="answer_area">
            <ul data-role="listview">
                <%questionList.forEach(function(item){%>
                <li data-icon="false">
                    <a href="../question/<%=item.aHref%>"  data-ajax="false">
                        <span class="ans_teacher"><img width="12" height="12" src="<%=item.headUrl%>"><%=item.authorDetail%></span>
                        <h5><%=item.questionDetail%></h5>
                    </a>
                </li>
                <%})%>
            </ul>
        </div>
    </div>
</div>
<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
</body>
</html>