<!DOCTYPE html>
<html>
    <head>
        <title>class</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="cache-control" content="no-cache"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.5.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/createClass.css">
    </head>
    <body>
        <div data-role="page" data-title="尚名校">
            <div data-role="header" data-theme="g" data-position="fixed">
                <img src="/images/ic_arrow_back.png" onclick="window.history.back()" class="left_icon"/>
                <h3 class="page_title">&nbsp注册</h3>
            </div>
            <div>
                <form method="" action="">
                    <ul data-role="listview">
                        <li data-icon="false">
                            <hr width="1" size="20" color="#3B7454" class="hr">
                            <h5 class="className-text">手机号</h5>
                            <input id="phoneNumber" type="number" name="" placeholder="请填写手机号">
                        </li>
                        <li data-icon="false">
                            <hr width="1" size="20" color="#3B7454" class="hr">
                            <h5 class="className-text">验证码</h5>
                            <input class="check_code_input" id="checkCode" type="number" name="" placeholder="请填写验证码">
                            <p id="checkCodeBtn" onclick="check()"class="check_code">发送验证码</p>
                        </li>
                        <li data-icon="false">
                            <hr width="1" size="20" color="#3B7454" class="hr">
                            <h5 class="className-text">密码</h5>
                            <input id="password" type="password" name="" placeholder="请填写密码">
                        </li>
                        <li data-icon="false">
                            <hr width="1" size="20" color="#3B7454" class="hr">
                            <h5 class="className-text">确认密码</h5>
                            <input id="passwordAgain" type="password" name="" placeholder="请再次填写">
                        </li>
                    </ul>
                </form>
                <button class="btn" onclick="register()">注册</button>
                <p id="hint"></p>
            </div>
        </div>
    </body>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
    <script src="/javascripts/smx.js"></script>
    <script>
        function register() {
            console.log("register")
            var phoneNumber = $("#phoneNumber").val();
            console.log("phoneNumber")
            var checkCode = $("#checkCode").val();
            var password = $("#password").val();
            var passwordAgain = $("#passwordAgain").val();
            console.log("phoneNumber:"+phoneNumber+" checkCode:"+checkCode+" password:"+password+" passwordAgain:"+passwordAgain)
            if(phoneNumber.length == 0){
                $("#hint").html("手机号不能为空");
            }else if(!(/^1[34578]\d{9}$/.test(phoneNumber))){
                $("#hint").html("手机号格式不正确");
            }else if(checkCode.length == 0){
                $("#hint").html("验证码不能为空");
            }else if(password.length == 0){
                $("#hint").html("密码不能为空");
            }else if(password !=passwordAgain){//发送登录请求;
                $("#hint").html("密码不一致");
            }else{
                var data = {
                    phoneNumber:phoneNumber,
                    checkCode:checkCode,
                    password:password
                }
                console.log("register post")
                $.post("./register",data,function (data) {
                    if(data.status){
                        window.location.href="/users/personDetailEdit";
                    }else{
                        $("#hint").html(data.desc);
                    }
                },"json")
            }
        }
    </script>
</html>
