<!DOCTYPE html>
<html>
<head>
	<title>尚名校</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="cache-control" content="no-cache" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.5.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
	<!--<link rel="stylesheet" type="text/css" href="../public/css/slick.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="../public/css/slick-theme.css"> -->
	<!-- <link rel="stylesheet" type="text/css" href="../public/css/class.css"> -->
	<link rel="stylesheet" type="text/css" href="/stylesheets/registerTeacher.css">
</head>
<body>
	<div data-role="page">
		<div data-role="header" data-theme="g" data-position="fixed">
			<h3>申请家教</h3>
		</div>
		<div class="setCenter">
			<form>
			<ul data-role="listview">
				<li data-icon="false">
					<hr width="1" size="20" color="#3B7454" class="hr">
					<h5 class="className-text">擅长课程</h5>
					<input type="text" name="" placeholder="请填写擅长的课程">
				</li>
				<li data-icon="false">
					<hr width="1" size="20" color="#3B7454" class="hr">
					<h5 class="className-text">个人介绍</h5>
					<textarea type="text" name="" placeholder="请填写个人介绍"></textarea>
				</li>
			</ul>
		</form>
		</div>
		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
		<script src="/javascripts/slick.min.js"></script>
		</div>
</body>
</html>