<!DOCTYPE html>
<html>
<head>
    <title>尚名校</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/setCenter.css">
    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/jquerymobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page" data-title="尚名校">
    <div data-role="header" data-theme="g" data-position="fixed">
        <img src="/images/ic_arrow_back.png" onclick="window.history.back()" class="left_icon"/>
        <h3 class="page_title">设置中心</h3>
        <!--<img src="/images/ic_share.png" href="#" class="right_icon"/>-->
    </div>
    <div class="setCenter">
        <ul data-role="listview">
            <li data-ajax="false" data-icon="arrow-r">
                <a href="changePassword" data-ajax="false">
                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5>修改密码</h5>
                </a>
            </li>
            <li data-ajax="false" data-icon="arrow-r">
                <a href="tel:04124832166">
                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5>商务合作</h5>
                </a>
            </li>
            <li data-ajax="false" data-icon="arrow-r">
                <a href="feedback"  data-ajax="false">
                    <hr width="1" size="20" color="#3B7454" class="hr">
                    <h5>问题反馈</h5>
                </a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>