<!DOCTYPE html>
<html>
<head>
    <title>尚名校</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="cache-control" content="no-cache"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/smxtheme.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/studentList.css">
</head>
<body>
<div data-role="page" data-title="尚名校">
    <div data-role="header" data-theme="g" data-position="fixed">
        <img src="/images/ic_arrow_back.png" onclick="window.history.back()" class="left_icon"/>
        <h3 class="page_title">参与学生</h3>
    </div>
    <div class="teacher-intro">
        <ul data-role="listview">
            <%studentList.forEach(function (item) {%>
            <li data-icon="false">
                <a href="getUserInfoById?userId=<%=item.userId%>"  data-ajax="false">
                    <img class="head_big" src=<%= item.headUrl %>>
                    <p style="font-size: 17px"><%= item.userName %></p>
                </a>
            </li>
            <%})%>
        </ul>
    </div>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery.mobile-1.4.5.min.js"></script>
    <script src="/javascripts/slick.min.js"></script>
    <script src="/javascripts/smx.js"></script>
</div>
</body>
</html>
