<img width='30px' height="30px" src="/files/111.png"></img>
<form method="post" action='uploadImage' onchange="upload()" enctype='multipart/form-data' name="input">
    <input id="inputFile" type="file" multiple="mutiple">
    <!--<input name="btnUp" type="submit" value="上传">-->
</form>

<script src="/javascripts/jquery.js"></script>
<script>
    function upload() {
        var formData = new FormData();
        var name = $("input").val();
        formData.append("inputFile",$("#inputFile")[0]);
        formData.append("path",name);
        console.log("formData:"+formData)
        $.ajax({
            url : 'uploadImage',
            type : 'POST',
            data : formData,
// 告诉jQuery不要去处理发送的数据
            processData : false,
// 告诉jQuery不要去设置Content-Type请求头
            contentType : false,
            beforeSend:function(){
                console.log("正在进行，请稍候");
            },
            success : function(responseStr) {
                if(responseStr.status===0){
                    console.log("成功"+responseStr);
                }else{
                    console.log("失败");
                }
            },
            error : function(responseStr) {
                console.log("error");
            }
        });
    }

</script>