<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>已有视频</title>
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../css/video.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">尚名校管理系统</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">课程编辑 <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">添加课程</a></li>
                <li><a href="#">已有课程</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">视频编辑 <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">添加视频</a></li>
                <li><a href="#">已有视频</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">问答编辑<!--  <span class="caret"></span> --></a>
              <!-- <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul> -->
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">审核管理 <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">待审核</a></li>
                <li><a href="#">已审核</a></li>
                <li><a href="#">意见反馈</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">用户管理<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">老师列表</a></li>
                <li><a href="#">学生列表</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">版本管理</a>
            </li>
            <li><a href="#">数据统计</a></li>
            <li><a href="#">回收站</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">登录/注销<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">登录</a></li>
                <li><a href="#">注销</a></li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
          </form>
        </div>
      </div>
    </nav>
    <div class="main">
      <div class="container">
        <div class="bs-example">
          <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h3 class="panel-title">已有视频</h3>
            </div>
            <!-- Table -->
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>编号</th>
                    <th>老师</th>
                    <th>名称</th>
                    <th>时长</th>
                    <th>观看人数</th>
                    <th>上传时间</th>
                    <th>标签</th>
                    <th>操作</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>liuyu</td>
                    <td>高三数学</td>
                    <td>120分钟</td>
                    <td>200</td>
                    <td>2015-12-02</td>
                    <td>
                      <span class="label label-default">Java</span>
                      <span class="label label-primary">Android</span>
                      <span class="label label-success">Success</span>
                    </td>
                    <td>
                      <a class="btn btn-success" href="#">编辑</a>
                      <a class="btn btn-primary" href="#">查看详情</a>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>liuyu</td>
                    <td>高三数学</td>
                    <td>120分钟</td>
                    <td>200</td>
                    <td>2015-12-02</td>
                    <td>
                      <span class="label label-default">Java</span>
                      <span class="label label-primary">Android</span>
                      <span class="label label-success">Success</span>
                    </td>
                    <td>
                      <a class="btn btn-success" href="#">编辑</a>
                      <a class="btn btn-primary" href="#">查看详情</a>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>liuyu</td>
                    <td>高三数学</td>
                    <td>120分钟</td>
                    <td>200</td>
                    <td>2015-12-02</td>
                    <td>
                      <span class="label label-default">Java</span>
                      <span class="label label-primary">Android</span>
                      <span class="label label-success">Success</span>
                    </td>
                    <td>
                      <a class="btn btn-success" href="#">编辑</a>
                      <a class="btn btn-primary" href="#">查看详情</a>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>liuyu</td>
                    <td>高三数学</td>
                    <td>120分钟</td>
                    <td>200</td>
                    <td>2015-12-02</td>
                    <td>
                      <span class="label label-default">Java</span>
                      <span class="label label-primary">Android</span>
                      <span class="label label-success">Success</span>
                    </td>
                    <td>
                      <a class="btn btn-success" href="#">编辑</a>
                      <a class="btn btn-primary" href="#">查看详情</a>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>liuyu</td>
                    <td>高三数学</td>
                    <td>120分钟</td>
                    <td>200</td>
                    <td>2015-12-02</td>
                    <td>
                      <span class="label label-default">Java</span>
                      <span class="label label-primary">Android</span>
                      <span class="label label-warning">Warning</span>
                    </td>
                    <td>
                      <a class="btn btn-success" href="#">编辑</a>
                      <a class="btn btn-primary" href="#">查看详情</a>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>liuyu</td>
                    <td>高三数学</td>
                    <td>120分钟</td>
                    <td>200</td>
                    <td>2015-12-02</td>
                    <td>
                      <span class="label label-warning">Warning</span>
                      <span class="label label-primary">Android</span>
                      <span class="label label-success">Success</span>
                    </td>
                    <td>
                      <a class="btn btn-success" href="#">编辑</a>
                      <a class="btn btn-primary" href="#">查看详情</a>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>liuyu</td>
                    <td>高三数学</td>
                    <td>120分钟</td>
                    <td>200</td>
                    <td>2015-12-02</td>
                    <td>
                      <span class="label label-warning">Warning</span>
                      <span class="label label-danger">Danger</span>
                      <span class="label label-success">Success</span>
                    </td>
                    <td>
                      <a class="btn btn-success" href="#">编辑</a>
                      <a class="btn btn-primary" href="#">查看详情</a>
                    </td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>liuyu</td>
                    <td>高三数学</td>
                    <td>120分钟</td>
                    <td>200</td>
                    <td>2015-12-02</td>
                    <td>
                      <span class="label label-default">Java</span>
                      <span class="label label-warning">Warning</span>
                      <span class="label label-danger">Danger</span>
                    </td>
                    <td>
                      <a class="btn btn-success" href="#">编辑</a>
                      <a class="btn btn-primary" href="#">查看详情</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>