
<div style="width:15%;height:90vh;background-color:#3e3e3e;display: inline-block;">
    <h5 style="margin-left:20px;padding:10px;color:#b8b8b8" onclick="joinManager()">加盟管理</h5>
    <h5 style="margin-left:20px;padding:10px;color:#b8b8b8"onclick="userManager()">用户管理</h5>
    <div id="userManager" style="display: none;background-color:#131212;">
        <h6 style="margin-left:20px;padding:10px;color:#b8b8b8" onclick="studentManager()">学生管理</h6>
        <h6 style="margin-left:20px;padding:10px;color:#b8b8b8" onclick="teacherManager()">老师管理</h6>
    </div>
    <p style="margin-left:20px;padding:10px;color:#b8b8b8" onclick="courseList()">课程管理</p>
</div>

<script>
    function joinManager() {
        location.href="joinList"
     }
    function userManager(){
        $("#userManager").slideToggle();
    }
    function studentManager(){
        location.href="studentList"
    }
    function teacherManager(){
        location.href="teacherList"
    }
    function courseList() {
        location.href="courseList"
    }
</script>