<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>尚名校</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/admin.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/scroll-table.css" rel="stylesheet" type="text/css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        .table>thead>tr>th{border:1px solid black !important;text-align: center}
        .table>tbody>tr>td{border:1px solid black !important;text-align: center}
        .table>tbody>tr>th{border:1px solid black !important;text-align: center}
    </style>
</head>
<body>
<%include navigation-index.ejs%>
<%include navigation-admin.ejs%>
<div class="right-content">
    <label>课程名称 </label><input/><br>
    <label>教室安排 </label><input/><br>
    <label>起始日期 </label><input/><br>
    <label>授课频率</label>
    <label class="checkbox inline"><input type="checkbox"/>每天</label>
    <label class="checkbox inline"><input type="checkbox"/>每周</label>
    <label class="checkbox inline"><input type="checkbox"/>每月</label><br>
    <label>任课教师 </label><input/><br>
</div>
</body>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/javascripts/divselect.js"></script>
</html>