<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>尚名校</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/admin.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick-theme.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .course-block {
            height: 60px;
            border-radius: 5px;
            border-style: solid;
            border-width: 1px;
            border-color: #4cae4c;
            margin-bottom: 10px;
            margin-top: 10px
        }

        .course-title {
            color: #4cae4c
        }

        .inline {
            display: inline-block;
            margin: 2px;
        }

        .right {
            float: right
        }

        .left {
            float: left
        }

        .center {
            margin-left: 12px;
            margin-top: 12px
        }

        .sign-up {
            margin-top: 10px;
            margin-right: 10px
        }

        .title {
            text-align: left;
            background-color: #f7f7f7;
            padding: 10px
        }

        .input {
            width: 40%;
            margin: 10px;
            padding: 5px
        }
    </style>
</head>
<body>
<% include navigation-index.ejs %>
<% include navigation-education.ejs %>
<div class="right-content">
    <div class="panel-heading title-block">
        <h3 class="panel-title title-white">课程列表</h3>
        <h3 class="panel-title right-button" onclick="addCourse()">添加课程</h3>
    </div>
    <label>课程名称&nbsp</label><input class="input" id="courseSeriesName" placeholder="请输入课程名称"/><br>
    <label>课程科目&nbsp</label><input class="input" id="courseSeriesSubject" placeholder="请输入课程科目"/><br>
    <label>课程介绍&nbsp</label><input class="input" id="courseSeriesIntro" placeholder="请输入课程介绍"/><br>
    <label>课程年级&nbsp</label><input class="input" id="courseSeriesGrade" placeholder="请输入课程年级"/><br>
    <label>学生水平&nbsp</label><input class="input" placeholder="请输入学生水平"/><br>
    <label>课时数目&nbsp</label><input id="courseSeriesNumber" type="number" oninput="change()" onporpertychange="change()"
                                   class="input" placeholder="请输入课时数"/><br>
    <div id="course-detail">

    </div>
    <button class="btn btn-default input" onclick="addCourseSeries()">确认添加</button>
</div>
<p id="hint"></p>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    $("#person").text("教务姓名")
    function loginDialog() {
        location.href = "educationDetail"
    }
    $("#navigation-course").addClass("select-left-button");
    function change() {
        var num = Number($("#courseSeriesNumber").val());
        $("#course-detail").empty()
        for (var i = 0; i < num; i++) {
            $("#course-detail").append('<label>课时' + (i + 1) + '</label><input class="input courseSeriesCourseName"/><br>');
        }
    }
    function addCourseSeries() {
        var courseSeriesName=$("#courseSeriesName").val();
        var courseSeriesSubject=$("#courseSeriesSubject").val();
        var courseSeriesIntro=$("#courseSeriesIntro").val();
        var courseSeriesGrade=$("#courseSeriesGrade").val();
        var courseSeriesNumber=$("#courseSeriesNumber").val();
        var courseSeriesCourseName=[];
        for(var i=0;i<courseSeriesNumber;i++){
            courseSeriesCourseName.push($(".courseSeriesCourseName")[i].value);
        }
        var data={
            courseSeriesName:courseSeriesName,
            courseSeriesSubject:courseSeriesSubject,
            courseSeriesIntro:courseSeriesIntro,
            courseSeriesGrade:courseSeriesGrade,
            courseSeriesNumber:courseSeriesNumber,
            courseSeriesCourseName:courseSeriesCourseName
        }
        console.log("data:"+JSON.stringify(data));
        $.post("addCourseSeries",data,function (ret) {
            $("#hint").text(ret);
        })
    }
</script>
</html>