<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>尚名校</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/admin.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick-theme.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .course-block{height:60px;border-radius: 5px;border-style:solid;border-width:1px;border-color:#4cae4c;margin-bottom:10px;margin-top:10px}
        .course-block-finished{height:60px;border-radius: 5px;border-style:solid;border-width:1px;border-color:#575757;margin-bottom:10px;margin-top:10px}
        .course-title{color:#4cae4c}
        .inline{display: inline-block;margin:2px;}
        .right{float:right}
        .left{float:left}
        .center{margin-left:12px;margin-top:12px}
        .sign-up{margin-top:10px;margin-right:10px}
        .title{text-align:left;background-color: #f7f7f7;padding:10px}
        .course{width:150px}
        .doBtn{float:right;padding-bottom: 3vh;}
        .clear{clear: both;}
    </style>
</head>
<body>
<%include navigation-index.ejs%>
<%include navigation-education.ejs%>
<div class="right-content">
    <div class="panel-heading title-block">
        <h2 class="title-white"><%=courseSeries.courseSeriesName%>（共<%=courseSeries.courseSeriesNumber%>课时）</h2><br>
        <div class="doBtn">
        <button type="button" class="btn btn-default">编辑</button>
        <button type="button" class="btn btn-default" onclick="courseSeriesDelete(<%=courseSeries.courseSeriesId%>)">删除</button>
        </div>
        <div class="clear"></div>
        <h4 class="title-white"><%=courseSeries.courseSeriesIntro%></h4>
    </div>
    <div class="course-block">
        <div class="inline left course">
            <h3 class="inline course-title">几何与函数</h3><br>
            <h4 class="inline">课时1</h4>
        </div>
    </div>
    <div class="course-block">
        <div class="inline left course">
            <h3 class="inline course-title">三角函数</h3><br>
            <h4 class="inline">课时2</h4>
        </div>
    </div>
    <div class="course-block">
        <div class="inline left course">
            <h3 class="inline course-title">数列求解</h3><br>
            <h4 class="inline">课时3</h4>
        </div>
    </div>
    <div class="course-block">
        <div class="inline left course">
            <h3 class="inline course-title">解析几何</h3><br>
            <h4 class="inline">课时4</h4>
        </div>
    </div>
    <div class="course-block">
        <div class="inline left course">
            <h3 class="inline course-title">立体几何</h3><br>
            <h4 class="inline">课时5</h4>
        </div>
    </div>
    <div class="course-block">
        <div class="inline left course">
            <h3 class="inline course-title">排列组合</h3><br>
            <h4 class="inline">课时6</h4>
        </div>
    </div>
    <div class="course-block">
        <div class="inline left course">
            <h3 class="inline course-title">概率统计</h3><br>
            <h4 class="inline">课时7</h4>
        </div>
    </div>
    <div class="course-block">
        <div class="inline left course">
            <h3 class="inline course-title">导数求解</h3><br>
            <h4 class="inline">课时8</h4>
        </div>
    </div>
    <div class="course-block">
        <div class="inline left course">
            <h3 class="inline course-title">圆锥曲线</h3><br>
            <h4 class="inline">课时9</h4>
        </div>
    </div>
    <div class="course-block">
        <div class="inline left course">
            <h3 class="inline course-title">真题讲解</h3><br>
            <h4 class="inline">课时10</h4>
        </div>
    </div>
    <p id="hint"></p>
</div>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    $("#person").text("教务姓名")
    $("#person").text("教务姓名")
    function loginDialog(){
        location.href="educationDetail"
    }
    $("#navigation-course").addClass("select-left-button");
    function courseSeriesDelete(courseSeriesId) {
        var courseSeriesId={courseSeriesId:courseSeriesId};
        $.post('courseSeriesDelete',courseSeriesId,function (ret) {
            if(ret.status==true){
                //$("#hint").text(ret);
                location.href='educationCourse';
            }
        })
    }
</script>
</html>