<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>尚名校</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/admin.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick-theme.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="height:100%">
    <%include navigation.ejs%>
    <div style="height:50vh;width:100%;">
        <div class="ad_Images">
            <div class="ad_Image_style">
                <img src="/images/图片1.png">
            </div>
            <div class="ad_Image_style">
                <img src="/images/图片2.png">
            </div>
            <div class="ad_Image_style">
                <img src="/images/图片3.png">
            </div>
        </div>
    </div>
    <div style="height:auto;width:100%">
        <div style="width:50%;height:40vh;display: inline-block;padding:10px;">
            <h3 style="display:inline-block;">新闻资讯</h3> <h3 style="display:inline-block;float:right">more>></h3>
            <ul class="list-group">
                <li class="list-group-item">台安店推出高考冲刺班</li>
                <li class="list-group-item">尚名校教师介绍</li>
                <li class="list-group-item">尚名校正式开始运营</li>
            </ul>
        </div>
        <div style="width:50%;height:40vh;float:right;padding:10px;">
            <h3 style="display:inline-block;">微信推送</h3> <h3 style="display:inline-block;float:right">more>></h3>
            <ul class="list-group">
                <li class="list-group-item">大学生创业应有大志向</li>
                <li class="list-group-item">大学生创业应有大志向</li>
                <li class="list-group-item">大学生创业应有大志向</li>
            </ul>
        </div>
    </div>

    <div id="light" class="white_content">
        <div style="text-align:left;background-color: #f7f7f7;padding:10px"><image src="/images/icon.png" style="display:inline-block;height:24px;width:24px"></image><span style="font-size: 20px">  登录尚名校</span><span style="float:right" onclick="closeDialog()">x</span></div>
        <input style="width:90%;margin:10px;padding:5px" placeholder="手机号"/>
        <input style="width:90%;margin:10px;padding:5px" placeholder="密码"/>
        <button style="width:90%;margin:10px;padding:5px" onclick="login()">登录</button>
        <label style="float:right;margin-right:10px;"onclick="admin()" >管理员登录</label>
    </div>
    <div id="fade" class="black_overlay"></div>
</body>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="/javascripts/slick.min.js"></script>
<script>
    /*轮播图*/
//    $(document).ready(function () {
        $(".ad_Images").slick({
            autoplay: true,
            autoplaySpeed: "4000",
            dots: true
        });
//    });
    function loginDialog(){
        $("#light").show();
        $("#fade").show();
    }
    function closeDialog(){
        $("#light").hide();
        $("#fade").hide();
    }
    function login(){
        location.href="student";
    }
    function admin(){
        location.href="admin"
    }
</script>