<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>尚名校</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/admin.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/scroll-table.css" rel="stylesheet" type="text/css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .course-block{height:60px;border-radius: 5px;border-style:solid;border-width:1px;border-color:#4cae4c;margin-bottom:10px;margin-top:10px}
        .sign-up{margin-top:10px;margin-right:10px}
        .margin-left-10{margin-left:10px}
    </style>
</head>
<body>
<%include navigation-index.ejs%>
<%include navigation-joinReception.ejs%>
<div class="right-content">
    <div class="bs-example">
        <div class="panel-heading title-block">
            <h3 class="panel-title inline title-white">学生列表</h3>
            <h3 class="panel-title right-button" onclick="addStudent()">添加学生</h3>
        </div>
        <%if(student.length == 0){%>
        <h4 style="text-align: center;margin:10px;">学生列表为空</h4>
        <%}else{%>
        <div class="padding-scroll">
            <table class="table table-hover" style="margin-bottom:0px;">
                <thead>
                <tr>
                    <th><div class="omit">姓名</div></th>
                    <th><div class="omit">年级</div></th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="table-details" style="height:70vh">
            <table  class="table table-hover table-body">
                <tbody>
                <%student.forEach(function(item){%>
                <tr onclick="detail(<%=item.studentId%>)">
                    <td><div class="omit"><%=item.userName%></div></td>
                    <td><div class="omit"><%=item.grade%></div></td>
                </tr>
                <%})%>
                </tbody>
            </table>
        </div>
        <%}%>

    </div>
</div>
<div id="fade" class="black-overlay"></div>
<div id="light" class="white-content">
    <div class="dialog">
        <div class="dialog-title"><span class="font-20 title-white">添加学生</span><span class="right title-white" onclick="closeDialog()">X</span></div>
        <input class="dialog-input" id="studentName" placeholder="请输入学生姓名"/>
        <input class="dialog-input" id="phoneNumber" placeholder="请输入手机号码"/>
        <input class="dialog-input" id= "schoolName" placeholder="请输入学校名称"/>
        <input class="dialog-input" id= "classInfo" placeholder="请输入年级信息"/>
        <button class="btn btn-default dialog-input" onclick="postInfo()">确认添加</button>
    </div>
</div>
</body>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    function detail(id){
        console.log("id:"+id)
        location.href = "joinReceptionStudentDetail?studentId="+id;
    }
    function loginDialog() {
        location.href="joinReceptionDetail"
    }
    $("#navigation-student").addClass("select-left-button");
    function addStudent(){
        $("#fade").show()
        $("#light").show()
    }
    function closeDialog() {
        $("#fade").hide()
        $("#light").hide()
    }
    function postInfo(){
        var phoneNumber = $("#phoneNumber").val();
        var studentName = $("#studentName").val();
        var schoolName = $("#schoolName").val();
        var classInfo = $("#classInfo").val();
        if (phoneNumber.length == 0) {
            $("#phoneNumber").attr('placeholder', "手机号不能为空");
        }
        else if (studentName.length == 0) {
            $("#studentName").attr('placeholder', '姓名不能为空');
        }
        else if(schoolName.length == 0)
        {
            $("#schoolName").attr('placeholder','学校名称不能为空');
        }
        else if(classInfo.length == 0)
        {
            $("#classInfo").attr('placeholder','年级信息不能为空');
        }
        else {
            var data = {
                phoneNumber:phoneNumber,
                studentName:studentName,
                schoolName:schoolName,
                classInfo:classInfo
            }
            $.post("./createStudent",data,function (ret) {
                console.log(ret)
                $("#fade").hide()
                $("#light").hide()
                location.reload()
            })
        }
    }
</script>
</html>