<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>尚名校</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/admin.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/scroll-table.css" rel="stylesheet" type="text/css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<%include navigation.ejs%>
<%include navigationJoinReception.ejs%>
<div class="right-content">
    <div class="bs-example">
        <div class="panel-heading title-block">
            <h3 class="panel-title inline title-white">学生列表</h3>
            <h3 class="panel-title right-button" onclick="addStudent()">添加学生</h3>
        </div>
        <div class="padding-scroll">
            <table class="table table-hover" style="margin-bottom:0px;">
                <thead>
                <tr>
                    <th><div class="omit">姓名</div></th>
                    <th><div class="omit">年级</div></th>
                </tr>
                </thead>
            </table>
        </div>
        <div class="table-details">
            <table  class="table table-hover table-body">
                <tbody>
                <tr onclick="detail()">
                    <td><div class="omit">赵学生</div></td>
                    <td><div class="omit">高一</div></td>
                </tr>
                <tr onclick="detail()">
                    <td><div class="omit">钱学生</div></td>
                    <td><div class="omit">高二</div></td>
                </tr>
                <tr onclick="detail()">
                    <td><div class="omit">孙学生</div></td>
                    <td><div class="omit">高三</div></td>
                </tr>
                <tr onclick="detail()">
                    <td><div class="omit">李学生</div></td>
                    <td><div class="omit">高三</div></td>
                </tr>
                </tbody>
            </table>
        </div>
        </table>
    </div>
</div>
<div id="fade" class="black-overlay"></div>
<div id="light" class="white-content">
    <div class="dialog">
        <div class="dialog-title"><span class="font-20">添加学生</span><span class="right" onclick="closeDialog()">x</span></div>
        <input class="dialog-input" placeholder="请输入学生姓名"/>
        <input class="dialog-input" placeholder="请输入手机号码"/>
        <input class="dialog-input" placeholder="请输入学校名称"/>
        <input class="dialog-input" placeholder="请输入年级信息"/>
        <button class="btn btn-default dialog-input" onclick="closeDialog()">确认添加</button>
    </div>
</div>
</body>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>

    $("#person").text("学生姓名")
    function detail() {
        location.href="joinReceptionStudentDetail"
    }
    function addStudent(){
        $("#fade").show()
        $("#light").show()
    }
    function closeDialog(){
        $("#fade").hide()
        $("#light").hide()
    }
</script>
</html>