<div class="left-navigation">
    <p class="left-button" onclick="course()" id="course">学生管理</p>
    <p class="left-button" onclick="course()" id="course">课程管理</p>
</div>
<script>
    function course(){
        location.href="joinReception"
    }
</script>