<div class="left-navigation">
    <p class="left-button" onclick="course()" id="course">业务报表</p>
    <p class="left-button" onclick="person()" id="person">个人信息</p>
</div>
<script>
    function course(){
        location.href="joinManager"
    }
    function person(){
        location.href="joinDetail"
    }
</script>