
<div class="left-navigation">
    <h5 class="left-button" onclick="joinManager()">加盟管理</h5>
    <h5 class="left-button" onclick="userManager()">用户管理</h5>
    <div id="userManager" class="sub-left-button-div">
        <h6 class="sub-left-button" onclick="studentManager()">学生管理</h6>
        <h6 class="sub-left-button" onclick="teacherManager()">老师管理</h6>
    </div>
    <p class="left-button" onclick="courseList()">课程管理</p>
</div>

<script>
    function joinManager() {
        location.href="joinList"
     }
    function userManager(){
        $("#userManager").slideToggle();
    }
    function studentManager(){
        location.href="studentList"
    }
    function teacherManager(){
        location.href="teacherList"
    }
    function courseList() {
        location.href="courseList"
    }
</script>