
<div class="left-navigation">
    <h5 class="left-button" onclick="courseManager()" id="navigation-course">课程管理</h5>
    <h5 class="left-button" onclick="person()" id="navigation-person">个人信息</h5>
</div>

<script>
    function courseManager() {
        location.href="educationCourse"
     }
    function person(){
        location.href="educationDetail"
    }
</script>