<div class="left-navigation">
    <p class="left-button" onclick="course()" id="navigation-report">业务报表</p>
    <p class="left-button" onclick="person()" id="navigation-person">个人信息</p>
</div>
<script>
    function course(){
        location.href="joinManagerReport"
    }
    function person(){
        location.href="joinManagerDetail"
    }
</script>