
<div class="left-navigation">
    <h5 class="left-button" onclick="joinManager()" id="navigation-join">加盟管理</h5>
    <h5 class="left-button" onclick="userManager()" id="navigation-user">用户管理</h5>
    <h5 class="left-button" onclick="courseList()" id="navigation-person">个人信息</h5>
</div>

<script>
    function joinManager() {
        location.href="adminJoinList"
     }
    function userManager(){
        location.href="adminUserList"
    }
    function courseList() {
        location.href="adminDetail"
    }
</script>