<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>尚名校</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/admin.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/scroll-table.css" rel="stylesheet" type="text/css"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="height:100%">
<%include navigation-index.ejs%>
<%include navigation-admin.ejs%>
<div style="width:85%;height:90vh;float:right;padding:50px">
    <div class="bs-example">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title inline">老师列表</h3>
                <a href="/admin/register" ><h3 class="panel-title" style="float:right">添加学生</h3></a>
            </div>
            <div style="padding-right: 17px">
                <table class="table table-hover" style="margin-bottom:0px;">
                    <thead>
                    <tr>
                        <th><div class="omit">姓名</div></th>
                        <th><div class="omit">科目</div></th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="table-details"style="overflow:scroll;overflow-x:hidden;height:65vh;">
                <table  class="table table-hover"style="table-layout: fixed">
                    <tbody>
                    <tr onclick="detail()">
                        <td><div class="omit">赵老师</div></td>
                        <td><div class="omit">数学</div></td>
                    </tr>
                    <tr onclick="detail()">
                        <td><div class="omit">钱老师</div></td>
                        <td><div class="omit">物理</div></td>
                    </tr>
                    <tr onclick="detail()">
                        <td><div class="omit">孙老师</div></td>
                        <td><div class="omit">化学</div></td>
                    </tr>
                    <tr onclick="detail()">
                        <td><div class="omit">李老师</div></td>
                        <td><div class="omit">生物</div></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            </table>
        </div>
    </div>
</div>
</div>
</body>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>

    $("#person").text("学生姓名")
    function detail() {
        location.href="teacherDetail"
    }
</script>
</html>