<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>尚名校</title>
    <!-- Bootstrap -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/admin.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/slick-theme.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .course-block{height:60px;border-radius: 5px;border-style:solid;border-width:1px;border-color:#4cae4c;margin-bottom:10px;margin-top:10px}
        .course-title{color:#4cae4c}
        .inline{display: inline-block;margin:2px;}
        .right{float:right}
        .left{float:left}
        .center{margin-left:12px;margin-top:12px}
        .sign-up{margin-top:10px;margin-right:10px}
        .title{text-align:left;background-color: #f7f7f7;padding:10px}
    </style>
</head>
<body>
<%include navigation-index.ejs%>
<%include navigation-teacher.ejs%>
<div class="right-content">
    <div class="panel-heading title-block">
        <h3 class="panel-title title-white">课程提醒</h3>
    </div>
    <div class="course-block">
        <div class="inline left">
            <h3 class="inline course-title">圆锥曲线</h3>
            <h4 class="inline">高三数学 第6/10课时</h4><br>
            <h4 class="inline">学生(4):张三 李四 王五 赵六</h4>
        </div>
        <h2 class="inline left center">2017-6-17 8:40</h2>
        <h4 class="inline left center margin-top-20">台安店 教室2</h4>
        <button class="btn btn-success right sign-up" onclick="detail()">详情</button>
        <button class="btn btn-failed right sign-up">已确认</button>
    </div>
    <div class="course-block">
        <div class="inline left">
            <h3 class="inline course-title">三角函数</h3>
            <h4 class="inline">高三数学 第5/10课时</h4><br>
            <h4 class="inline">学生(2):张三 李四</h4>
        </div>
        <h2 class="inline left center">2017-6-17 13:30</h2>
        <h4 class="inline left center margin-top-20">台安店 教室1</h4>
        <button class="btn btn-success right sign-up" onclick="detail()">详情</button>
        <button class="btn btn-success right sign-up">确认参加</button>
    </div>
    <div class="panel-heading title-block">
        <h3 class="panel-title title-white">课程推荐</h3>
    </div>
    <div class="course-block">
        <div class="inline left">
            <h3 class="inline course-title">高考数学冲刺班 台安店</h3><br>
            <h4 class="inline">高三数学 共10课时</h4>
        </div>
        <button class="btn btn-success right sign-up" onclick="detail()">详情</button>
        <button class="btn btn-success right sign-up">申请</button>
    </div>
    <div class="course-block">
        <div class="inline left">
            <h3 class="inline course-title">高考数学冲刺班 台安店</h3><br>
            <h4 class="inline">高三数学 共10课时</h4>
        </div>
        <button class="btn btn-success right sign-up" onclick="detail()">详情</button>
        <button class="btn btn-failed right sign-up">已申请</button>
    </div>
    <div class="course-block">
        <div class="inline left">
            <h3 class="inline course-title">高考数学冲刺班 大连店</h3><br>
            <h4 class="inline">高三数学 共10课时</h4>
        </div>
        <button class="btn btn-success right sign-up" onclick="detail()">详情</button>
        <button class="btn btn-success right sign-up">申请</button>
    </div>
    <div class="course-block">
        <div class="inline left">
            <h3 class="inline course-title">高考数学冲刺班 大连店</h3><br>
            <h4 class="inline">高三数学 共10课时</h4>
        </div>
        <button class="btn btn-success right sign-up" onclick="detail()">详情</button>
        <button class="btn btn-success right sign-up">申请</button>
    </div>
</div>
</body>
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
<script>
    $("#person").text("老师姓名")
    function applyCourse(){
        $("#fade").show()
        $("#light").show()
    }
    function closeDialog(){
        $("#fade").hide()
        $("#light").hide()
    }
    function loginDialog(){
        location.href="teacherDetail"
    }
    function detail(){
        location.href = "teacherCourseDetail"
    }
    $("#navigation-course").addClass("select-left-button");
</script>
</html>